* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
  background-color: blue;
  text-align: center;
}

.nav {
  width: 50%;
  margin: 0px auto;
  padding: 15px 0;
  text-align: center;
  border: solid gray;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  background-color: pink;
}

.list {
  padding: 20px;
}

.list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.box1 {
  width: 800px;
  height: 700px;
  background-color: limegreen;
  margin: 50px auto;
  padding: auto;
}

footer {
  width: 100%;
  height: 120px;
  background-color: gray;
  text-align: center;
  line-height: 120px;
  color: white;
}
